<!DOCTYPE html>

  <html lang="fr">

    <head>

      <title>Décoder avec une structure de dictionnaires</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
            <script>
        // Utilisé pour afficher le menu lorsque l'écran est suffisament petit
        function myFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
      </script>
    </head>

    <body>
    
      <!-- BARRE DE NAVIGATION -->
      <div class="w3-top"> <!-- w3-container w3-padding-32 -->
        <div class="w3-bar w3-green w3-card w3-left-align w3-large">

          <!-- BARRE DE NAVIGATION SUR ÉCRANS RÉDUITS (III)-->
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-16 w3-green w3-large w3-hover-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          
          <a href="/" class="w3-bar-item w3-button w3-padding-16 w3-hover-white">Home</a>
          <a href="decoder" class="w3-bar-item w3-button w3-hide-small w3-padding-16 w3-hover-white">Décoder</a>
          <a href="encoder" class="w3-bar-item w3-button w3-hide-small w3-padding-16 w3-hover-white">Encoder</a>
          <a href="comparer" class="w3-bar-item w3-button w3-hide-small w3-padding-16 w3-hover-white">Comparer</a>
        </div>
      
        <!-- BARRE DE NAVIGATION SUR ÉCRANS RÉDUITS - OUVERTE -->
        <div id="navDemo" class="w3-bar-block w3-green w3-hide w3-hide-large w3-hide-medium w3-large">
          <a href="decoder" class="w3-bar-item w3-button w3-padding-16 w3-hover-white">Décoder</a>
          <a href="encoder" class="w3-bar-item w3-button w3-padding-16 w3-hover-white">Encoder</a>
          <a href="comparer" class="w3-bar-item w3-button w3-padding-16 w3-hover-white">Comparer</a>
        </div>
      </div>
    
      <!-- EN-TÊTE -->
      <header class="w3-container w3-black w3-center w3-padding-64">
        <h1 class="w3-margin w3-jumbo w3-padding-32">DÉCODER - STRUCTURE DICTIONNAIRES</h1>
        <a href="decoder"><button class="w3-button w3-green w3-padding-large w3-large w3-margin-top mainbutton">Retour</button></a>
      </header>
    
      <!-- GRILLE 1 -->
      <div class="w3-row-padding w3-padding-64 w3-container w3-green">
        <div class="w3-content">          
          <div class="w3-twothird">
            <h1>Entrez votre message...</h1>

            <form class="w3-container w3-padding-32" method="post" action="d_dicos_resultat">
              <input class="w3-input" type="text" name="texte" required>
              <label class="w3-text-white">Votre texte</label>         
              <div>
                <button type="submit" class="w3-button w3-white w3-large w3-center w3-margin-top">Submit</button>
              </div>
            </form> 
          </div>
        </div>
      </div>

      <!-- GRILLE 2 for file -->
      <div class="w3-row-padding w3-padding-64 w3-container w3-white">
        <div class="w3-content">          
          <div class="w3-twothird">
            <h1>Selectionnez votre fichier...</h1>
            <form class="w3-container w3-padding-32" method="post" action="d_dicos_resultat" enctype="multipart/form-data">
              <input type="file" name="file" required>
              <div>
                <button type="submit" class="w3-button w3-green w3-large w3-center w3-margin-top">Décoder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <!-- BAS DE PAGE -->
      <footer class="w3-container w3-padding-32 w3-center w3-OPA w3-black"> 
        <p>Template made by MICHEL Clément</br>
          using <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
        </p>
      </footer>
   
    </body>
  </html>
