<!DOCTYPE html>

  <html lang="fr">

    <head>

      <title>Décoder un message</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="styles.css">
      <script src="scripts.js"></script> 
    </head>

    <body>
    
      <!-- BARRE DE NAVIGATION -->
      <div class="w3-top w3-container w3-padding-32">
        <div class="w3-bar w3-green w3-card w3-left-align w3-large">

          <!-- BARRE DE NAVIGATION SUR ÉCRANS RÉDUITS (III)-->
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-16 w3-green w3-large w3-hover-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          
          <a href="/" class="w3-bar-item w3-button w3-padding-16 w3-hover-white">Home</a>
          <a href="decoder" class="w3-bar-item w3-button w3-hide-small w3-padding-16 w3-hover-white">Décoder</a>
          <a href="encoder" class="w3-bar-item w3-button w3-hide-small w3-padding-16 w3-hover-white">Encoder</a>
        </div>
      
        <!-- BARRE DE NAVIGATION SUR ÉCRANS RÉDUITS - OUVERTE -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
          <a href="decoder" class="w3-bar-item w3-button w3-padding-16">Décoder</a>
          <a href="encoder" class="w3-bar-item w3-button w3-padding-16">Encoder</a>
        </div>
      </div>
    
      <!-- EN-TÊTE -->
      <header class="w3-container w3-black w3-center w3-padding-64">
        <h1 class="w3-margin w3-jumbo w3-padding-32">DÉCODER UN MESSAGE</h1>
        <a href="d_arbres"><button class="w3-button w3-green w3-padding-large w3-large w3-margin-top mainbutton">Décoder - Arbres</button></a>
        </br>
        <a href="d_dicos"><button class="w3-button w3-green w3-padding-large w3-large w3-margin-top mainbutton">Décoder - Dictionnaires</button></a>
        </br>
        <a href="/"><button class="w3-button w3-green w3-padding-large w3-large w3-margin-top mainbutton">Retour</button></a>
      </header>
    
      <!-- GRILLE 1 -->
      <div class="w3-row-padding w3-padding-64 w3-container w3-green pattern_g1">
        <div class="w3-content">          
          <div class="w3-twothird" style="text-shadow:1px 1px 0 rgb(64, 64, 64)">
            <h1>Principe du décodage d'un code </br>en morse..</h1>
            <h5 class="w3-padding-32">L'alphabet morse, ou code morse, est un code permettant de transmettre un texte à l'aide de séries d'impulsions courtes et longues. 
              Inventé en 1835 par Samuel Morse pour la télégraphie, ce code assigne à chaque lettre, chiffre et signe de ponctuation une combinaison unique de signaux intermittents. 
              Considéré comme le précurseur des communications numériques, le code morse a depuis le 1er février 1999 été délaissé au profit d'un système satellitaire 
              pour les communications maritimes.
            </h5>        
            <p class="w3-text-black">C'est en 1838 que naît l'alphabet " morse " que nous connaissons. Deux types d'impulsions sont utilisés. 
              Les impulsions courtes (notées " . ", point) qui correspondent à une impulsion électrique de 1/4 de seconde et les longues (notées " - ", trait) à une impulsion de 3/4 de seconde.
          </div>
        </div>
      </div>

      <!-- SÉPARATION -->
      <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      </div>
    
      <!-- BAS DE PAGE -->
      <footer class="w3-container w3-padding-32 w3-center w3-OPA w3-black"> 
        <p>Template made by MICHEL Clément</br>
          using <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
        </p>
      </footer>
   
    </body>
  </html>
